* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}
.main-container {
  border: 2px solid red;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: fill;
}
.head {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  border: solid 1px pink;
  justify-content: center;
  align-items: center;
  background-color: #319F9E;
  color: #E7E7F5;
  transition: translate 1s 1s;
}
.head a:hover{
  box-shadow: 7px 9px 9px 0px rgb(68, 67, 67);
  transform: translateY(-1px);
  cursor: pointer;
}
.head ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.head li{
  padding: 5px;
}
.video{ 
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;


}