body {
  background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.img-thumbnail{
  height: 250px;
  width: auto;
}
.video2{
  height: 400px;
  align-items: center;
}
.carimage{
  /* height: 350px; */
  /* translate: 90deg; */
}
.carousel-item img{
  width: 400px;
  margin: auto; 
  display: block;
  }
.card{
    margin: 15px;
}
.bxshadow:hover{
  box-shadow: darkgray 3 3 0 0;
}
.aboutimage{
  height: 300px;
}